In [1]:
import requests
from sys import platform
import pandas as pd
import numpy as np

In [3]:
#importing the tickers of interest
if platform == 'darwin':    
    tick = pd.read_csv(r'/Users/nishaldave/OneDrive - University of Bristol/Dissertation/Volume Forecasting/Data/Tickers',header=None)
    ticklist = []
    for i in tick[0]:
      ticklist.append(i)
elif platform == 'win32':
    tick = pd.read_csv(r'C:\Users\Nish\OneDrive - University of Bristol\Dissertation\Volume Forecasting\Data\Stock Scraper\Tickers.csv', header=None)
    ticklist = []
    for i in tick[0]:
      ticklist.append(i)

In [22]:
firmlist = []

In [23]:
for i in ticklist:
    url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol={tick}&apikey=9DIS4V39ATIST4CK'.format(tick=i)
    r = requests.get(url)
    data = r.json()
    firmlist.append(data['Name'])

In [24]:
df = pd.DataFrame(firmlist)

In [25]:
firmlist = pd.concat([df,pd.DataFrame(ticklist)],axis=1)

In [26]:
firmlist

                                      0     0
0                         GameStop Corp   GME
1        AMC Entertainment Holdings Inc   AMC
2                    BlackBerry Limited    BB
3                     Nokia Corporation   NOK
4                   Sundial Growers Inc  SNDL
..                                  ...   ...
106                           Canoo Inc  GOEV
107                            Snap Inc  SNAP
108  Adamis Pharmaceuticals Corporation  ADMP
109                          Pfizer Inc   PFE
110                       ArcelorMittal    MT

[111 rows x 2 columns]

In [31]:
firmlist.to_csv(r"C:\\Users\\Nish\\OneDrive - University of Bristol\\Dissertation\Volume Forecasting\\Data\\Stock Scraper\\firmlist.csv" )