In [1]:
import requests
from sys import platform
import pandas as pd
import numpy as np

In [2]:
#importing the tickers of interest
if platform == 'darwin':    
    tick = pd.read_csv(r'/Users/nishaldave/OneDrive - University of Bristol/Dissertation/Volume Forecasting/Data/tickers',header=None)
    ticklist = []
    for i in tick[0]:
      ticklist.append(i)
elif platform == 'win32':
    tick = pd.read_csv(r'C:\Users\Nish\OneDrive - University of Bristol\Dissertation\Volume Forecasting\Data\Tickers\AVScrape\avtickers.csv', header=None)
    ticklist = []
    for i in tick[0]:
      ticklist.append(i)

In [3]:
mktcap = []

In [4]:
for i in ticklist:
    url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol={tick}&apikey=9DIS4V39ATIST4CK'.format(tick=i)
    r = requests.get(url)
    data = r.json()
    mktcap.append(data['MarketCapitalization'])

In [5]:
mktcap = pd.DataFrame(mktcap)

In [6]:
df = pd.concat([tick.reset_index(drop=True),mktcap.reset_index(drop=True)], axis=1)

In [7]:
df

        0             0
0     GME   15080382000
1     AMC   22596786000
2      BB    6270181000
3     NOK   34221974000
4    SNDL    1597324000
..    ...           ...
106  SNAP  118709740000
107  ADMP     165263000
108   PFE  262617350000
109    MT   33786479000
110     F   51492458000

[111 rows x 2 columns]

In [8]:
df.to_csv(r'C:\Users\Nish\OneDrive - University of Bristol\Dissertation\Volume Forecasting\Data\Stock Scraper\mktcap.csv')